# python artifacts
__pycache__/
*.egg-info/
build/
files.txt
.codex
.claude

# pixi environments
.pixi/*
!.pixi/config.toml

# Ignore mesh/texture assets in aic_mujoco mjcf, keep only .xml
aic_utils/aic_mujoco/mjcf/*.obj
aic_utils/aic_mujoco/mjcf/*.stl
aic_utils/aic_mujoco/mjcf/*.png

# Ignore aic_isaac usd assets
aic_utils/aic_isaac/aic_isaaclab/source/aic_task/aic_task/tasks/manager_based/aic_task/Intrinsic_assets/


team_policy/models/depth_anything_v2_small/

team_policy/models/Depth-Anything-V2-Metric-Indoor-Base-hf/*.safetensors

team_policy/models/Depth-Anything-V2-Metric-Indoor-Base-hf/*

# training data outputs
team_policy/team_policy/training_robot/episodes/
team_policy/team_policy/training_robot/lerobot_datasets/
team_policy/team_policy/training_robot/dataset/
outputs/

outputs/
*.safetensors
*.ckpt
*.pt
*.pth
